@import 'constants/constans.scss';

.section {
  &__header {
    @include flexRow(center);
    gap: toRem(24);
  }
}
.button_back {
  @include flexRow(center, center);
  padding: 0 !important;
  min-width: 48px !important;
  max-width: 48px !important;
  height: 48px;
}
.section__body {
  padding-top: toRem(24);
}
